<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <queries>
    <package android:name="com.termux" />
    <package android:name="com.termux.api" />
    <intent>
      <action android:name="com.termux.api.action.RUN_COMMAND" />
    </intent>
  </queries>

  <application android:icon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:label="Termux Background"
      android:theme="@style/Theme.AppCompat.Light">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
